<div class="container active">
  <div class="card"></div>
  <div class="card alt">
    <button type="button" class="toggle" (click)="addclasscss()"></button>
    <h1 class="title">Register
      <div class="close" [routerLink]="['/']"></div>
    </h1>
    <form>
      <div class="input-container" >
        <input type="#{type}" id="#{label}" required="required" />
        <label for="#{label}">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required" />
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required" />
        <label for="#{label}">Repeat Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Next</span></button>
      </div>
    </form>
  </div>
</div>